<h2>Child 1</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" [asyncFormData]="formData$ | async">
    <p>
        <label for="name">Name </label>
        <input type="text" id="name" name="name" formControlName="name">
        <form-error-handler [formGroup]="form" name="name"></form-error-handler>
    </p>
    <p>
        <label for="version">Version </label>
        <input type="text" id="version" name="version" formControlName="version">
        <form-error-handler [formGroup]="form" name="version"></form-error-handler>
    </p>
    <p>
        <button type="submit" [disabled]="!form.valid">Valider</button>
    </p>
</form>