<h2>Child 1</h2>
<form [formGroup]="formChild1" (ngSubmit)="onSubmit()" [bindFormData]="formData$ | async">
    <p>
        <label for="name">Name </label>
        <input type="text" id="name" name="name" formControlName="name">
        <form-error-handler formCtrlName="name" class="alert"></form-error-handler>
    </p>
    <p>
        <label for="version">Version </label>
        <input type="text" id="version" name="version" formControlName="version">
        <form-error-handler formCtrlName="version" exclude="smallerThan10"></form-error-handler>
    </p>

    <p><button type="button" (click)="onAddTodo()">Ajouter une tâche</button></p>
    <p *ngIf="hasMaxTodosError" class="alert">{{ maxTodos }} todos max !</p>

    <ng-container formArrayName="todos">
        <div *ngFor="let todoForm of todos.controls; index as i" [formGroupName]="i">
            <p><button type="button" (click)="onRemoveTodo(i)">&#10060;</button></p>
            <p>
                <label for="todo">Todo </label>
                <input type="text" id="todo" name="todo" formControlName="todo" ngDefaultControl>
                <form-error-handler formCtrlName="todo" formArrName='todos' [formArrIndex]='i' class="alert">
                </form-error-handler>
            </p>
            <p>
                <label for="priority">Priority </label>
                <input type="number" id="priority" name="priority" formControlName="priority">
                <form-error-handler formCtrlName="priority" formArrName='todos' [formArrIndex]='i' class="alert">
                </form-error-handler>
            </p>
            <hr>
        </div>
    </ng-container>

    <p><button type="submit" [disabled]="!formChild1.valid">Valider</button></p>
    <p><button type="submit" [ngClass]="{'disabled': !formChild1.valid}">Valider</button></p>
</form>