/* You can add global styles to this file, and also import other style files */
reactive-form-error-messages {
  display: block; color: orangered; font-weight: 500; font-size: small; margin-top: 0.5em;
}